* {
  margin: 0;
  padding: 0;
  background-color: #14006B;
  font-family: sans-serif;
}

h1 {
  color: white;
}

p {
  color: grey;
}

label {
  color: white;
}

button {
  color: white;
}

h3 {
  color: white;
}